.scroll-to-top {
    z-index: 100000;
    height: 70px;
    width: 56px;
    display: none;
    position: fixed;
    bottom: 35px;
    right: 30px;
    font-size: 2em;
    cursor: pointer;
    opacity: 0.5;
    text-align: center;
  }

.scroll-to-top.visible {
  display: block;
  opacity: 1;
}