/* Navigationbar.css */


.underline-cus::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff; /* The color of the underline */
    bottom: 1px;
    left: 0;
  }
 
  
  /* Add a transition effect to the underline when the NavLink elements are active */
  .underline-cus::after {
    transition: width 0.3s ease; /* Add a smooth transition effect */
  }
  
  /* Optional: You can also add a hover effect for better user feedback */
  .underline-cus:hover::after {
    width: 100%; /* Expand the underline to full width on hover */
  }


  .custom-divider{
    height: 30px;
    width: 1px;
    background: #fff;
    margin: 0 10px;
  }