.scroll-to-top {
    font-family: "Open Sans", sans-serif;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
    z-index: 100000;
    height: 70px;
    width: 56px;
    display: none;
    position: fixed;
    bottom: 35px;
    right: 30px;
    font-size: 2em;
    cursor: pointer;
    border: 3px solid;
    opacity: 0.5;
    transition: opacity 0.5s;
    background: #f7b757;
    text-align: center;
    /* background: #79f2e0; */
  }

.scroll-to-top.visible {
  display: block;
  opacity: 1;
}

.scroll-to-top:active {
    box-shadow: 0px 0px 0px 0px;
    bottom: 25px;
    right: 25px;
  }



/* <!-- HTML !-->
<button class="button-54" role="button">Button 54</button> */

/* CSS */
/* .scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.scroll-to-top:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .scroll-to-top {
    padding: 0.25em 0.75em;
  }
} */
