
    .custom-pagination-bullet {
    width: 20px !important;
    height: 20px !important;
    background-color: gray !important;
    border-radius: 50% !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    cursor: pointer !important;
    margin: 0 5px !important;
  
  }
  .mySwiper .swiper-pagination-bullets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* height: 1px; */
   
  }
   

   /* Custom styling for the pagination bullets */
.custom-pagination-bullet {
    width: 20px !important;
    height: 20px !important;
    background-color: gray !important;
    border-radius: 50% !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    cursor: pointer !important;
    margin: 0 5px !important;
  }
  
  /* Arrange pagination bullets in a row */
  .mySwiper .swiper-pagination-bullets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px; /* Adjust as needed */
  }
  

.BlogRightSidebar::-webkit-scrollbar {
  width: 10px;
}
.BlogRightSidebar::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
.BlogRightSidebar::-webkit-scrollbar-thumb {
  background:#a7d0e8;
  border-radius: 50px;
}
.BlogRightSidebar::-webkit-scrollbar-thumb:hover {
  background: #47bc8f; 
}