@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Lato:ital,wght@0,400;0,700;0,900;1,700&family=Lobster&family=Open+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Shadows+Into+Light&family=Work+Sans&family=Zeyada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}


@media (min-width: 768px) {
  .defaultBtn {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    padding: 1rem 2rem;
  }
}

.drawer-side a {
  background-color: transparent;
  @apply px-5 py-2;
}

.drawer-side a.active {
  color: #fff !important;
  @apply bg-[#43A7AB];
}

/* font  */
.fontLobster {
  font-family: "Italianno", cursive;
}
.fontKalam {
  font-family: "Kalam", cursive;
}
.fontYellowtail {
  font-family: "Yellowtail", cursive;
}

/* CSS */
.defaultBtn {
  align-self: center;
  background-color: #fff;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.479) 10px 15px 15px -10px;
  color: #41403e;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 155px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.defaultBtn:hover {
  box-shadow: rgba(0, 0, 0, 0.615) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.defaultBtn:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
.text-gradient {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #543cbe, #f1a5ef, #f8ff95);
}
